
.navigation-bar {
    width: 100%;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: var(--primary-color);

}


.profileimg {
	border-radius: 50%;
}


.logo {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: auto;
    margin-right: 30px;
    margin-left: 20px;
	opacity: 1;
}

.logo:hover {
	opacity: 0.6;
	animation: ease-in-out;
}

.body {
	font-family: arial;
	font-size: 16px;
	margin: 3rem 8rem;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	
}

.contact-me {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem;
	padding-top: 1rem;
}


h1 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: 0.5rem;
	margin-top: 2rem;
	text-align: center;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

h2 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-shadow: gainsboro;
}
h3 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-size: medium;
	padding-top: 2rem ;
	padding-bottom: 1rem;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

h4 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	font-size: medium;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 300;
	padding: 1rem;
	font-size: larger;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

footer {
	text-align: center;
	margin-top: 40px;
	background-color: var(--primary-color);
	color: var(--secondary-color);

}

.mb-3 {
	align-items: left;
	width: 400px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.grid-container { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  	padding: 10px;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

li {
	padding: 10px;
	font-family: roboto;
}

.btn btn-outline-primary btn-sm {
	position: absolute;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	size: 16px;	
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: #e4e4e4;
  border-radius: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
} */

#icon {
	width: 30%;
	cursor: pointer;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

:root {
	--primary-color: #fdfdfd;
	--secondary-color: #212121;
}
.dark-theme {
	--primary-color: #27272a;
	--secondary-color: #fff;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 3rem 0 2rem;
	justify-content: center;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.flex-container > .card {
	display: flex;
	flex-wrap: wrap;
	border-color: gainsboro;
	opacity: 0.8;
	background-color: var(--primary-color);
	color: var(--secondary-color);

}

.card:hover {
	opacity: 1;
	box-shadow: #e4e4e4;
}

lottie-player {
    margin: 0 auto;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	width: 300;
	height: 300px;
	object-fit: cover;
}
